* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: Arial, Helvetica, sans-serif;
}

.container{
  max-width: 80%;
  margin: 0 auto;
}

.flex{
  display: flex;
}

a{
  color: white;
  text-decoration: none;
}

.badgered{
  background-color: #ff0000;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
}

.badgegreen{
  background-color: #008000;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
}

.heart{
  position: absolute;
  top: 20px;
  right: 0;
  background-color: white;
  width: 50px;
  height: 50px;
  line-height: 50px;
  vertical-align: center;
  text-align: center;
  font-size: 2.5rem;
}

/* Header */
.topbar-fixed{
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ff6900;
  box-shadow:0px 1px 10px 1px grey;

}

ul{
  list-style: none;
  font-weight: bold;
}

.genere li{
  padding-right: 10px;
}

.nav{
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 20px 0;
  color: white;
}

.logo{
  text-align: center;
}

.logo img{
  width: auto;
  height: 30px;
}

.shop li{
  padding-left: 10px;
}

/* Card Container */
.card-container{
  flex-wrap: wrap;
  justify-content: space-between;
	align-content: start;
  margin-top: 120px;
}

.card{
  position: relative;
  flex-basis: 550px;
  padding-bottom: 40px;
}

.badge{
  position: absolute;
  bottom: 150px; 
}

.heart:hover{
  color: red;
  cursor: pointer;
}

.card img{
  width: 100%;
  height: auto;
  object-fit: cover;
}
.infocard h4{
  font-size: 1.2rem;
  text-transform: uppercase;
}
.infocard .price{
  color: red;
  font-weight: bold;
  margin-right: 4px;

}

.infocard .oldprice{
  text-decoration: line-through;
}

/* Footer */
.bottombar{
  background-color: #1a1a1a;
}

.bottom{
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  height: 80px;
  color: white;
}

.social{
color: white;
}

.social span{
  display: block;
  margin-bottom: 5px;
}

.info h3{
  font-size: 1rem;
}
.link a{
  font-size: 0.8rem;
  font-weight: lighter;
}

.link li{
  padding-right: 10px;
}

.account li{
  margin-right: 10px;
}

.social span{
  font-size: 0.7rem;
}